
# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore system files
.DS_Store
Thumbs.db

# Ignore virtual environment directories
venv/
env/

# Ignore data files
*.xlsx

# Ignore cache files
*.cache
